*{
	margin: 0;
	padding: 5;
}
.SpidermanQ{

	text-indent: 60%;
	border-style: none;
	color:#ffa500;

}
.Title,.Quote{
	text-align: center;
	font-weight: bold;
	background-color:none;
	border-style: none;
	color:#ffa500;


}
html { 
	background-color: black; 
	color: white;
}
h2{
	text-align: center;
	padding: 2vw;
	background-color: #260000;
}
li{
	margin-top: 2%;
}
a:hover{
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	font-size: 1.3em;
	padding: .2em;
	border-radius: 5px;
	text-decoration: none;
}
#nav1{
	background-color: #260000;
	padding-bottom: 60px
}
#ContactInfo{

}
#GreatHeroes{
	background-image: url(/Users/admin/Desktop/HTML/Images/Spidermannn.jpg);
	background-size: cover;
	height: 20vh;
	padding: 50vh 0% 5% 1%;;
}
.container{
	background-color: #001a33;
	margin: auto;
	width: 350px;
}
input{
	font-size: inherit;
}
input[type = "text"]{
	display: block;
	margin-bottom: 20px;
	width: 80%;
	border-style: double;
	border-color: #8c0000;
}

textarea{
	border-style: solid;
	border-color: red;
	height: 200px;
	width: 99%;
}
@media screen and (min-width: 600px){
	main{
	    margin: auto;
	    width: 70%;
	    border: 3px;
	    padding: 10px;
	}
}
/*#DDeadpool{
	float: right;
	width:auto;
	height: 100px;
	padding: 0px;
	margin: 10px 10px 1px 10px;

}
#Spidy{
	float: left;
	width:auto;
	height: 120px;
	padding: 0px;
	margin: 10px 10px 1px 10px;
}*/